/* Base Styles */
:root {
  --background-dark: hsl(217, 21%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Layout Styles */
body {
  background-color: var(--background-dark);
  font-family: 'Space Mono', monospace;
}