/* Base Styles */
:root {
  --background-dark: hsl(217, 21%, 21%);
  --light-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Layout Styles */
body {
  background-color: var(--background-dark);
  font-family: 'Space Mono', monospace;
  color: var(--light-font-color);
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}